<?xml version="1.0" encoding="utf-8"?>
<manifest package="github.bed72.bedapp"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        tools:targetApi="32"
        android:name=".BedApp"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.App.Starting"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:exported="true"
            android:theme="@style/Theme.BedApp"
            android:name=".presentation.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>